!!!
%html
  %body
    %h4 Students
    %table{border: "1"}
      %tr
        %td ID
        %td First Name
        %td Last Name
        %td Courses
      %tr
        %td 1
        %td Susanne
        %td Dewein
        %td Asdf


    %h4 Courses
    %table{border: "1"}
      %tr
        %td ID
        %td Title
        %td Students
      %tr
        %td 1
        %td RoR
        %td Dewein
