%h4
  = @klass.to_s.pluralize
%table{border: "1"}
  %thead
    %tr
      - @klass.columns.each do |col|
        %th
          = col[:name].humanize
  %tbody
    %tr
      - @instance.instance_variables.each do |instance_var|
        %td
          = @instance.instance_variable_get(instance_var)
%a{href:'/'} Back