* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Palatino, serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: DarkCyan;
  color: white;
  padding: 20px;
  margin: 20px;
}

#header {
  overflow: hidden;
  position: relative;
}

#header div {
  border: 1px solid red;
  display: inline-block;
  width: 33.33333%;
  float: left;
  
}

#header .blue {
  border: 1px solid blue;
}

#header div .foo {
  background-color: green;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
}


h1 {
  color: white;
}

td {
  color: black;
}

a:link {
  color: orange;
}

a:visited {
  color: yellow;
}

a:hover {
  color: red;
}

table {
  border: 1px solid black;
  border-collapse:collapse;
  width: 90%;
}

th {
  height: 50:;
}
td.user-actions form {
  /*color: black;*/
  /*text-align: center;*/
  display: inline-block;
}